.home {
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba($primary-color, 1), rgba($primary-color, 0.5)), url("../dist/background1.jpg")  no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  background-position: 70% 50%;

  &__name{
    font-size: 5rem;
    padding-bottom:1rem;
    margin-bottom:1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
