@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary{
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-color
      }
    }
  }
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem 0;
  color: set-text-color($primary-color);
}

//css mind map

#log {
  position:absolute;
  top:10px;
  font-size:1.0em;
  font-weight:bold;
  color:#23A4FF;
}

#infovis {
  position:relative;
  width:100%;
  height: 100vh;
}

#infovis-canvaswidget {
  position: relative;
  margin: 0 auto;
  top: 15px;
}

#infovis-canvas{
  position: absolute;
}